body  {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    background-color: #111;
    color: white;
    padding: 20px 50px;
}

.navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 7px; 
}

.searchInput {
    border: none;
    background-color: transparent;
}

.searchInput::placeholder {
    color: lightgrey;
}

.limitedOffer {
    font-size: 20px;
    border-bottom: 2px solid green;
    cursor: pointer;
}

.navBottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem {
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
    font-weight: 400;
}

.slider {
    background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
   /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    overflow: hidden;*/
  }
  .sliderWrapper {
    display: flex;
    width: 500vw;
    transition: all 1.5s ease-in-out;
  }
  .sliderItem {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .sliderBg {
    width: 750px;
    height: 750px;
    border-radius: 50%;
    position: absolute;
    /*remove the background color later on*/
    background-color: yellow;
  }

  .sliderImg {
    z-index: 1;
  }

  .sliderTitle {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: white;
    z-index: 1;
  }

  /* slider sub title - NEW SEASON*/
  .sliderSubTitle {
    position: absolute;
    top: 20%;
    right: 10%;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    color: white;
    z-index: 1;
  }

   /* slider price*/
  .sliderPrice {
    position: absolute;
    padding: 5px;
    top: 10%;
    left: 10%;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    color: white;
    border: 1px solid gray;
    z-index: 1;
  }

   /* buy button*/
  .buyButton {
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 30px;
    font-weight: 900;
    color: white;
    padding: 10px;
    border: 1px solid gray;
    /*remove the border-radius if it doesn't look good later on*/
    border-radius: 4px;
    /*change the background color if it doesn't look good later on*/
    background-color: black;
    z-index: 1;
    cursor: pointer;
  }

  .buyButton:hover {
    background-color: white;
    color: black;
  }

   /* slider Item background color*/
  .sliderItem:nth-child(1) .sliderBg {
    background-color: #369e62;
  }

  .sliderItem:nth-child(2) .sliderBg {
    background-color: rebeccapurple;
  }

  .sliderItem:nth-child(3) .sliderBg {
    background-color: teal;
  }

  .sliderItem:nth-child(4) .sliderBg {
    background-color: cornflowerblue;
  }

  .sliderItem:nth-child(5) .sliderBg {
    background-color: pink;
  }

  /* slider price color*/

.sliderItem:nth-child(1) .sliderPrice {
  color: #369e62;
}
.sliderItem:nth-child(2) .sliderPrice {
  color: #d5b4f7;
}
.sliderItem:nth-child(3) .sliderPrice {
  color: teal;
}
.sliderItem:nth-child(4) .sliderPrice {
  color: cornflowerblue;
}
.sliderItem:nth-child(5) .sliderPrice {
  color: pink;
}